﻿@using PagedList.Mvc
@model FizzBuzz.Web.ViewModels.FizzBuzzViewModel

@if (Model != null && Model.FizzBuzzResult != null && Model.FizzBuzzResult.Any())
{
    <section id="fizzBuzzResults">

        <div>
            <h2>FizzBuzz Results</h2>
            <ul>
                @foreach (var item in Model.FizzBuzzResult)
                {
                    <li>
                       @foreach (var description in @item.Description.Split(' '))
                       {
                           <span class="@description.ToLowerInvariant()">@description</span>
                       }
                    </li>
                }

            </ul>
            @if (@Model.FizzBuzzResult.PageCount > 1)
            {
                @Html.PagedListPager(Model.FizzBuzzResult, pageNumber => Url.Action("GetFizzBuzzResult", new {Number = Model.Number, pageNumber = pageNumber}))
                <span>Items @Model.FizzBuzzResult.FirstItemOnPage to @Model.FizzBuzzResult.LastItemOnPage of Total @Model.FizzBuzzResult.TotalItemCount</span>
            }
        </div>
    </section>

}