﻿@model FizzBuzz.Web.ViewModels.FizzBuzzViewModel

<div>
    <div>
        @Html.LabelFor(model => model.Number)
        @Html.TextBoxFor(model => model.Number)
        @Html.ValidationMessageFor(model => model.Number)
        <input type="submit" id="button" value="Submit" />
    </div>
</div>
