﻿@model FizzBuzz.Web.ViewModels.FizzBuzzViewModel

@{
    ViewBag.Title = "Fizz Buzz";
}

<h2>Fizz Buzz</h2>
<div>

 @using (Html.BeginForm("GetFizzBuzzResult", "FizzBuzz"))
    {

       @Html.Partial("_FizzBuzzFormPartial", Model)
        
    }
    @Html.Partial("_FizzBuzzResultsPartial", Model)
</div>
